---
notifications:
  email: false
sudo: false
language: ruby
cache: bundler
before_install: rm Gemfile.lock || true
script:
  - 'bundle exec rubocop'
matrix:
  fast_finish: true
  include:
  - rvm: 1.9.3
  - rvm: 2.1.7
  - rvm: 2.2.3
