---
# yamllint disable rule:line-length
.github/workflows/ci.yml:
  excludes: []
  acceptance_tests: true
  main_branches: ['main', 'master']
# PDK creates this
.github/workflows/puppet-lint.yml:
  delete: true
.travis.yml:
  delete: true
Jenkinsfile:
  delete: true
Gemfile:
  puppet_version: '~> 7.24'
  required:
    ':test':
      - gem: voxpupuli-test
        version: '~> 7.2'
      - gem: coveralls
      - gem: simplecov-console
      - gem: puppet_metadata
        version: '~> 4.0'
    ':development':
      - gem: guard-rake
      - gem: overcommit
        version: '>= 0.39.1'
    ':system_tests':
      - gem: voxpupuli-acceptance
        version: '~> 3.0'
    ':release':
      - gem: voxpupuli-release
        version: '~> 3.0'
Rakefile:
  # config.user: USER
  # config.project: PROJECT
  # config.tag_pattern: 'v%s'
.puppet-lint.rc:
  disabled_lint_checks:
    - parameter_documentation
    - parameter_types
  enabled_lint_checks: []
spec/default_facts.yml:
  delete: true
spec/classes/coverage_spec.rb:
  delete: true
spec/acceptance/nodesets/default.yml:
  delete: true
spec/acceptance/nodesets/archlinux-2-x64.yml:
  delete: true
spec/acceptance/nodesets/centos-511-x64.yml:
  delete: true
spec/acceptance/nodesets/centos-6-x64.yml:
  delete: true
spec/acceptance/nodesets/centos-66-x64.yml:
  delete: true
spec/acceptance/nodesets/centos-66-x64-pe.yml:
  delete: true
spec/acceptance/nodesets/centos-7-x64.yml:
  delete: true
spec/acceptance/nodesets/centos-7.yml:
  delete: true
spec/acceptance/nodesets/centos-72-x64.yml:
  delete: true
spec/acceptance/nodesets/debian-78-x64.yml:
  delete: true
spec/acceptance/nodesets/debian-82-x64.yml:
  delete: true
spec/acceptance/nodesets/fedora-20-x64.yml:
  delete: true
spec/acceptance/nodesets/fedora-24-x64.yml:
  delete: true
spec/acceptance/nodesets/fedora-25-x64.yml:
  delete: true
spec/acceptance/nodesets/fedora-26-x64.yml:
  delete: true
spec/acceptance/nodesets/fedora-27-x64.yml:
  delete: true
spec/acceptance/nodesets/debian-7-x64.yml:
  delete: true
spec/acceptance/nodesets/debian-8-x64.yml:
  delete: true
spec/acceptance/nodesets/sles-11-x64.yml:
  delete: true
spec/acceptance/nodesets/sles-12-x64.yml:
  delete: true
spec/acceptance/nodesets/ubuntu-1604-x64.yml:
  delete: true
spec/acceptance/nodesets/ubuntu-server-1204-x64.yml:
  delete: true
spec/acceptance/nodesets/ubuntu-server-1404-x64.yml:
  delete: true
spec/acceptance/nodesets/ubuntu-server-1604-x64.yml:
  delete: true
spec/acceptance/nodesets/windows-2008R2-serverstandard-x64.yml:
  delete: true
spec/acceptance/nodesets/windows-2012-serverstandard-x64.yml:
  delete: true
spec/acceptance/nodesets/windows-2012R2-serverstandard-x64.yml:
  delete: true
spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml:
  delete: true
spec/acceptance/nodesets/ec2/image_templates.yaml:
  delete: true
spec/acceptance/nodesets/ec2/rhel-73-x64.yml:
  delete: true
spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml:
  delete: true
spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml:
  delete: true
spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml:
  delete: true
spec/spec_helper.rb:
  add_mocked_facts: true
  mock_with: false
spec/spec_helper_acceptance.rb:
  unmanaged: true
  configure_beaker:
    modules: ':metadata'
spec/spec.opts:
  delete: true
CONTRIBUTING.md:
  delete: true
.yardopts:
  delete: true
.gitlab-ci.yml:
  delete: true
.pdkignore:
  delete: true
appveyor.yml:
  delete: true
pdk.yaml:
  delete: true
.ruby-version:
  delete: true
.tool-versions:
  delete: true
CODE_OF_CONDUCT.md:
  delete: true
.github/CODE_OF_CONDUCT.md:
  delete: true
SECURITY.md:
  delete: true
.github/SECURITY.md:
  delete: true
Modulefile:
  delete: true
Makefile:
  delete: true
Dockerfile:
  delete: true
.pcci.yml:
  delete: true
.rspec_parallel:
  delete: true
.rspec:
  delete: true
...
# vim: syntax=yaml
