name: noop run

on:
  - pull_request
  - push

jobs:
  unit:
    runs-on: ubuntu-latest
    name: Run msync --noop against all modules
    steps:
      - uses: actions/checkout@v2
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Run msync --noop
        run: bundle exec msync update --noop --git-base=https://github.com/
